/* Swipe right and fade start game countdown */
.swipe-fade {
  animation: swipeFadeRight 1s ease;
  transition: opacity 1s ease-in;
}

@keyframes swipeFadeRight {
  0% {
    transform: translateX(0em);
    opacity: 1;
  }
  75% {
    transform: translateX(4em);
    opacity: 0;
  }
  100% {
    transform: translateX(4em);
    opacity: 0;
  }
}

/* Pulse restart button */
button:hover {
  animation: pulse .6s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

/* Pulse opacity of splash screen */
.pulseOpacity {
  animation: pulseOpacity 1.125s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
