/* Swipe right and fade start game countdown */
.countdown-animation {
  position: absolute;
  animation: countdownAnimation 1s ease;
  transition: opacity 1s ease;
}

@keyframes countdownAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.5) translateX(-12px);
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Pulse restart button */
button:hover {
  animation: pulse .6s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

/* Win Shake */
.you-won {
  animation: youWon 2.15s ease;
  animation-iteration-count: 2;
  animation-direction: normal;
}

@keyframes youWon {
  0% {
    transform: translateX(0em) rotate(0);
  }
  30% {
    transform: translateX(-3.5em) rotate(-3deg);
  }
  35% {
    transform: translateX(3.5em) rotate(3deg);
  }
  40% {
    transform: translateX(-3.5em) rotate(-3deg);
  }
  45% {
    transform: translateX(3.5em) rotate(3deg);
  }
  50% {
    transform: translateX(-3.5em) rotate(-3deg);
  }
  55% {
    transform: translateX(3.5em) rotate(3deg);
  }
  60% {
    transform: translateX(-3.5em) rotate(-3deg);
  }
  65% {
    transform: translateX(3.5em) rotate(3deg);
  }
  100% {
    transform: translateX(0em) rotate(0);
  }
}

/* Animate matched icons */
.icon-matched {
  opacity: 1;
  animation: matchIconAnimate .5s ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  z-index: 5;
}

@keyframes matchIconAnimate {
  0% {
    transform: translateX(7em);
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    transform: translateX(-.5em);
  }
  85% {
    transform: translateX(.25em);
  }
  100% {
    transform: translateX(0em);
  }
}

/* Animate matched icons being cleared from board */
.icon-matched-reset {
  opacity: 0;
  animation: iconMatchedReset .5s ease-in;
  transition: opacity .5s ease-in;
}

@keyframes iconMatchedReset {
  0% {
    transform: translateX(0em);
    opacity: 1;
  }
  70% {
    transform: translateX(3em);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* fade out element */
.fade-out {
  animation: fadeOut .75s ease-in-out;
}

/* fade in element */
.fade-in {
  animation: fadeOut .75s ease-in-out;
  animation-direction: reverse;
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Swipe and fade in */
.swipe-fade-in {
  animation: swipeFadeIn 1s ease;
}

@keyframes swipeFadeIn {
  0% {
    transform: translateX(-3em);
    opacity: 0;
  }
  70% {
    transform: translateX(0em);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Swipe and fade out */
.swipe-fade-out {
  animation: swipeFadeOut 1s ease;
}

@keyframes swipeFadeOut {
  0% {
    transform: translateX(0em);
    opacity: 1;
  }
  70% {
    transform: translateX(3em);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
