/*******************************
START SCREEN
*******************************/

#difficulty {
  display: flex;
  justify-content: flex-start;
  /*opacity: 1;*/
  /*transition: opacity .75s ease;*/
}

#difficulty button {
  margin-right: 19.25px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  align-items: center;
  background-color: #ff6600;
  background-color: #d2d2d2;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1px;
  transition: background-color 0.15s ease;
}

#easy:hover {
  background-color: #f0c4ff;
}

#medium:hover {
  background-color: #f60ad9;
}

#hard:hover {
  background-color: #ff689b;
}

#splash-image {
  position: absolute;
  top: 150px;
  background-color: white;
  height: 660px;
  width: 550px;
  z-index: 3;
  opacity: 1;
  transition: opacity .75s ease;
}

#splash-image:hover {
  opacity: 0.65;
}

#start-screen {
  background-color: #fff;
  height: 630px;
  width: 550px;
  z-index: 2;
}

/* Logo above Game Board */

#game-logo-1, #game-logo-2 {
  z-index: 3;
  font-weight: 700;
}

#game-logo-1, #game-logo-2, #game-logo-3 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}

#game-logo-1 {
  top: 235px;
  left: 70px;
  font-size: 48px;
  color: #999;
  letter-spacing: 1px;
  opacity: .8;
}

#game-logo-1:hover {
  color: #777;
}

#game-logo-2 {
  left: 110px;
  font-size: 430px;
  color: #777;
  opacity: .2;
}

#game-logo-3 {
  top: 500px;
  left: 190px;
  font-size: 11px;
  font-weight: 400;
  color: #777;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

#rule-1 {
  position: absolute;
  width: 300px;
  left: 130px;
  bottom: 143px;
  border-bottom: 1px solid #777;
  opacity: .7;
}
