/*******************************
CORE STYLES
*******************************/

* {
  padding: 0;
  border: 0;
  margin: 0;
}


/*******************************
GAMEBOARD
*******************************/

body {
  background-image: url('../images/bg.jpg');
  background-size: 100px 100px;
  background-repeat: repeat;
  /*background: #d0d0d0;*/
}

#game-title {
  position: absolute;
  top: 70px;
  padding: 0px 0px 0px 108px;
  font-family: 'Montserrat', sans-serif;
  font-size: 37px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0px 5px 10px #b4b4b4;
}

#wrapper {
  position: relative;
  height: 750px;
  width: 550px;
  margin: 0 auto;
  /*background: #d0d0d0;*/
}

#board {
  position: absolute;
  top: 150px;
  background-color: white;
  height: 615px;
  width: 550px;
  box-shadow: 0px 5px 15px #999;
  /*margin: 0 auto;*/
}



/*******************************
UI
*******************************/

#quote-wrapper {
  margin: 20px 0px 20px 0px;
}

#drop-quote {
  float: left;
  display: inline-block;
  margin: 13px 16px 0px 40px;
  font-family: sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: #999;
}

#quote {
  /*position: absolute;*/
  /*top: 20px;*/
  display: inline-block;
  width: 410px;
  padding: 20px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#matched-wrapper {
  position: absolute;
  height: 30px;
  width: 250px;
  padding: 28px 0px 0px 85px;
}

#symbol-1 {
  position: absolute;
  left: 73px;
  background-color: slategray;
  height: 27px;
  width: 27px;
  border-radius: 50px;
}

#symbol-2 {
  position: absolute;
  left: 111px;
  border: 2px solid slategray;
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

#symbol-3 {
  position: absolute;
  left: 151px;
  background-color: slategray;
  /*border: 2px solid slategray;*/
  height: 27px;
  width: 27px;
  border-radius: 5px;
}

#guesses {
  position: absolute;
  right: 80px;
  top: 96px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #6e6e6e;
}

#guesses-left {
  position: absolute;
  right: 80px;
  top: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #999;
}

/*#board-border {
  position: absolute;
  margin: 10px auto 10px auto;
  height: 520px;
  width: 520px;
  border: 1px solid #e3e3e3;
}*/


/*******************************
TILES - CLICKED
*******************************/

.red {
  display: inline-block;
  background-color: red;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.orange {
  display: inline-block;
  background-color: orange;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.yellow {
  display: inline-block;
  background-color: yellow;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.green {
  display: inline-block;
  background-color: green;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.slategray {
  display: inline-block;
  background-color: slategray;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.purple {
  display: inline-block;
  background-color: purple;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.lemonchiffon {
  display: inline-block;
  background-color: lemonchiffon;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.firebrick {
  display: inline-block;
  background-color: firebrick;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}



/*******************************
TILES
*******************************/

#tile-wrapper {
  position: absolute;
  left: 68px;
  bottom: 57px;
  margin-top: 42px;
  height: 390px;
  width: 410px;
}

.hide {
  display: inline-block;
  background-color: #e3e3e3;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  margin: 7px;
}

.hide:hover {
  background-color: #f3f3f3;
}

/*.tile-bottom {
  display: inline-block;
  background-color: yellow;
  height: 85px;
  width: 85px;
  border-radius: 5px;
}*/

/*#tile-back {
  margin-top: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #d0d0d0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}*/
